<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ArUco Marker 5x5 Macro -->
  <xacro:macro name="aruco_marker_5x5" params="namespace parent_link id scale:=0.6 *origin">
    <link name="${namespace}/aruco_marker_5x5_${id}">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0"
                 izz="0.001"/>
      </inertial>

      <visual>
        <geometry>
          <mesh filename="file://$(find deep_ocean)/materials/textures/marker_5x5_${id}.dae" 
                scale="${scale} ${scale} ${scale}"/>
        </geometry>
      </visual>
      
      <xacro:no_collision/>
    </link>

    <joint name="${namespace}_aruco_5x5_${id}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="${namespace}/aruco_marker_5x5_${id}"/>
    </joint>
  </xacro:macro>

  <!-- ArUco Marker 4x4 Macro -->
  <xacro:macro name="aruco_marker_4x4" params="namespace parent_link id scale:=0.6 *origin">
    <link name="${namespace}/aruco_marker_4x4_${id}">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0"
                 izz="0.001"/>
      </inertial>

      <visual>
        <geometry>
          <mesh filename="file://$(find deep_ocean)/materials/textures/marker_4x4_${id}.dae" 
                scale="${scale} ${scale} ${scale}"/>
        </geometry>
      </visual>
      
      <xacro:no_collision/>
    </link>

    <joint name="${namespace}_aruco_4x4_${id}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="${namespace}/aruco_marker_4x4_${id}"/>
    </joint>
  </xacro:macro>

  <!-- Calibration Board Macro -->
  <xacro:macro name="calibration_board" params="namespace parent_link id scale:=0.6 *origin">
    <link name="${namespace}/calibration_board_${id}">
      <inertial>
        <mass value="0.1"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0"
                 iyy="0.01" iyz="0.0"
                 izz="0.01"/>
      </inertial>

      <visual>
        <geometry>
          <mesh filename="file://$(find deep_ocean)/materials/textures/checkerboard_7x10_bordered.dae" 
                scale="${scale} ${scale} ${scale}"/>
        </geometry>
      </visual>
      
      <xacro:no_collision/>
    </link>

    <joint name="${namespace}_calibration_${id}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent_link}"/>
      <child link="${namespace}/calibration_board_${id}"/>
    </joint>
  </xacro:macro>

</robot>