<?xml version="1.0"?>
<!-- A simple floating box for UUV Simulator -->
<robot name="box_rov" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Define parameters for box dimensions -->
  <xacro:property name="size_x" value="2.0"/>
  <xacro:property name="size_y" value="2.0"/>
  <xacro:property name="size_z" value="2.0"/>

  
  <!-- Define box mass and buoyancy parameters -->
  <xacro:property name="mass" value="2056"/> 
  <xacro:property name="volume" value="2"/> <!-- Volume in cubic meters -->
  <xacro:property name="cob" value="0 0 1.5"/> <!-- Raise center of buoyancy -->
  
  <link name="base_link">
    <inertial>
      <mass value="${mass}"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="2741.33" ixy="0.0" ixz="0.0" iyy="2741.33" iyz="0.0" izz="2741.33"/>
    </inertial>
    
    <!-- Visual representation -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${size_x} ${size_y} ${size_z}"/>
      </geometry>
    </visual>
    
    <!-- Collision geometry -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${size_x} ${size_y} ${size_z}"/>
      </geometry>
    </collision>
     
    <!-- Add hydrodynamics plugin -->

  </link>
  <gazebo>
    <plugin name="uuv_plugin" filename="libuuv_underwater_object_ros_plugin.so">
      <fluid_density>1028.0</fluid_density>
      <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
      <debug>0</debug>      
      <link name="base_link">
      <neutrally_buoyant>0</neutrally_buoyant>
      <volume>${volume}</volume>  
        <box>
          <width>2</width>
          <length>2</length>
          <height>2</height>
        </box>
        <center_of_buoyancy>${cob}</center_of_buoyancy>
        <!-- Added mass: see p.28 in Berg2012 -->
        <hydrodynamic_model>
          <type>fossen</type>
          <added_mass>
              822.4  0  0  0  0  0
              0  8224  0  0  0  0  
              0  0  9046.4  0  0  0
              0  0  0  1644.8  0  0
              0  0  0  0  1644.8  0
              0  0  0  0  0  1644.8
          </added_mass>
          <!-- Linear damping: see p.31 in Berg2012 -->
          <linear_damping>
              -4934.4 -4934.4 -4934.4 -6579.2 -6579.2 -6579.2
          </linear_damping>
          <!-- Non-linear damping: see p.30 in Berg2012 -->
          <quadratic_damping>
              7401.6 -7401.6 -7401.6 -1095.2 -1095.2 -1095.2
          </quadratic_damping>
        </hydrodynamic_model>
      </link>    
    </plugin>
  </gazebo>  
</robot>
