<launch>
    
    <arg name="namespace" default="tms" />

    <!-- Start undervannsverden -->
    <include file="$(find uuv_gazebo_worlds)/launch/auv_underwater_world.launch" />

    <!-- Spawn ROV -->
    <!--group ns="rov">
        <param name="robot_description" command="$(find xacro)/xacro '$(find deep_ocean)/urdf/rov.xacro'" />
        <node name="spawn_rov" pkg="gazebo_ros" type="spawn_model" output="screen"
              args="-param robot_description -urdf -model rov -x 0 -y 0 -z -10" />
    </group-->

    <!-- Spawn TMS -->
    <group ns="$(arg namespace)">
        <param name="robot_description"
        command="$(find xacro)/xacro '$(find deep_ocean)/urdf/tms.xacro'
          namespace:=$(arg namespace)" />
        <node name="spawn_tms" pkg="gazebo_ros" type="spawn_model" output="screen"
              args="-param robot_description -urdf -model tms -x 5 -y 0 -z -10" />

        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
          <param name="robot_description" value="/$(arg namespace)/robot_description" />
          <param name="publish_frequency" value="5" />
        </node>
    </group>

  <include file="$(find uuv_assistants)/launch/message_to_tf.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="world_frame" value="world"/>
    <arg name="child_frame_id" value="/$(arg namespace)/base_link"/>
  </include>    

    <!--node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find uuv_gazebo)/rviz/tms_sonar.rviz"/-->

</launch>