<launch>
    <arg name="pid" default="false" />

    <group if="$(eval not pid)">
      <include file="$(find deep_ocean)/rov_control/launch/start_thruster_manager_rov.launch" />
    </group>

    <group unless="$(eval not pid)">
      <include file="$(find deep_ocean)/rov_control/launch/pid_controller.launch" />
    </group>

    <include file="$(find deep_ocean)/tms_control/launch/start_thruster_manager_tms.launch" />

</launch>